.bckgrd{
background:#003366;
font-family:"trajan pro", Times New Roman, Times, serif;
font-size:100%;
}	

div{
color:#000000;
}

h2, h1{
font-weight:bold;
}

h1{
font-size:2.2em;
text-align:center;
}

h2{
color:#fff;
font-size:1.75em;
}

ul{
list-style:none;
font-size:1.25em;
}

ol{
font-size:1.25em;
}

p{
font-size:1.3em;
}

a.thumbnail{
background-color:rgba(0,0,0,0);
border-style:none;
}

.thumbnail img{
margin: auto;
vertical-align:middle;
}


/*---Navigation------------------------------------------*/

/* unvisited link */
a:link {
color:#fff;
}

/* visited link */
a:visited {
color:#fff;
}

/* mouse over link */
a:hover {
color:#8099B2;
}

a:hover > h2{
color:#8099B2;
}

/* selected link */
a:active {
color:#8099B2;
}

.navbar{
background:#000000;
color:#000000;
font-family:"trajan pro", Times New Roman, Times, serif;
}

.navbar-brand{
color:#fff;
}

.navbar-brand:li:hover{
color:#8099B2;
}

.navbar-brand:li:active{
color:#fff;
}

.navbar .nav .navbar-nav:li:hover{
background:#000000;
color:#8099B2;
}

.navbar-toggle{
background:#000000;
}

.icon-bar{
background:#fff;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
background:#000000;
color:#8099B2; /*Sets the text hover color on navbar*/
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
background:#000000;
color:#8099B2; /*BACKGROUND color for active*/
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
background:#000000;  /*change color of links in drop down here*/
color:#fff;
}

.nav > li > a:hover,
.nav > li > a:focus {
background:#fff;	/*Change rollover cell color here*/
color:#000000;
}

.navbar .navbar-nav > li > a {
background:#000000;
color:#fff; /*Change active text color here*/
font-size:1.5em;
}

.navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
}

.navbar .navbar-collapse {
text-align: center;
margin:0 auto;
padding:0 5em 0 0;
}

/*---End Navigation--------------------------------------*/


/*---Colors----------------------------------------------*/

.brn{
background:#63533d !important;
}

.wht{
color:#fff;
}

.blu{
color:#000000 !important;
}
/*-------------------------------------------------------*/





/*viewport 320px and less---------------------------------*/
.arrow{
background:#000;
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
background-position:50%;
height:42em;
margin:0 auto;
}

.bckgrd{
background:#000000;
}

.cnt{
background:#fff;
margin:2em auto;
padding:2em;
}

#imft{
background:#000;
}

.iconCenter{
text-align:center;
}

.intro { 
background-color:#fff;
margin:2em auto;
padding:0em;
}


.logo{
margin:1em auto;
padding:4em 0;
}

.lbl{
color:#000000;
background:#fff;
}

.page{
background:#000000;
box-shadow: 0 0 3.125em rgba(0,0,0,0.8);
margin:4em auto;
padding: 1em;
}

.port{
background:rgba(0, 0, 0, .1);
color:#fff;
margin:1em auto;
}

.ripLogo{
margin:0 auto;
}

.riptide{
color:#000000;
line-height:2em;
font-size:3em;
}

.Paragraph{
font-size:130%;
}

#services{
background:#000;
color:#fff;
margin:4em auto;
padding:4em 1em 20em 1em ;
}

.thx { 
background:#fff;
margin: 1em auto; 
padding: 1em 1em;
width: 100%; 
position: relative; 
box-shadow: 0 0 3.125em rgba(0,0,0,0.8);
}


/* Viewport 1200px and up------------------------------------------- */
@media only screen
and (min-width:1200px){

.arrow{
display:none;
}

.bckgrd{
background:#000000;
}

#download{
margin:4em auto;
padding:4em 1em 18em 1em ;
}

.intro{
background:#fff;
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
background-position:50%;
height:64em;
margin:0 auto;
padding:50em 0;
}

#logo{
margin:4em auto;
padding:4em 1em 39em 1em ;
}

#misc{
margin:4em auto;
padding:4em 1em 20em 1em ;
}

.navbar .navbar-nav > li > a {
font-size:1.25em;
}

.page{
background:#000000;
}

.port{
margin:1em;
}

#services{
background:#000;
color:#fff;
margin:4em auto;
padding:4em 1em 20em 1em ;
}

#sitemap{
margin:4em auto;
padding:4em 1em 34em 1em ;
}

#team{
margin:4em auto;
padding:4em 1em 34em 1em ;
}

#website{
margin:4em auto;
padding:4em 1em 39em 1em ;
}
}/*End viewport 1200 and up*/



/* Viewport 992px - 1199px ------------------------------------------*/
@media only screen
and (min-width:992px) and (max-width:1199px){

.arrow{
display:none;
}

.bckgrd{
background:#000000;
}

#download{
margin:4em auto;
padding:4em 1em 18em 1em ;
}

.intro{
background:#fff;
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
background-position:50%;
height:64em;
margin:0 auto;
padding:50em 0;
}

#logo{
margin:4em auto;
padding:4em 1em 39em 1em ;
}

#misc{
margin:4em auto;
padding:4em 1em 20em 1em ;
}

.navbar .navbar-nav > li > a {
font-size:1.25em;
}

.page{
background:#000000;
}

.port{
margin:1em;
}

#services{
background:#000;
color:#fff;
margin:4em auto;
padding:4em 1em 20em 1em ;
}

#sitemap{
margin:4em auto;
padding:4em 1em 34em 1em ;
}

#team{
margin:4em auto;
padding:4em 1em 34em 1em ;
}

#website{
margin:4em auto;
padding:4em 1em 39em 1em ;
}
}/*End Viewport 992px - 1199px-------------------------------------------*/



/* Viewport 768px - 991px ----------------------------------------------*/
@media only screen and (min-width:768px) and (max-width:991px){

.arrow{
display:none;
}

.bckgrd{
background:#000000;
}

#download{
margin:4em auto;
padding:4em 1em 18em 1em ;
}

.intro{
background:#fff;
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
background-position:50%;
height:64em;
margin:0 auto;
padding:50em 0;
}

#logo{
margin:4em auto;
padding:4em 1em 39em 1em ;
}

#misc{
margin:4em auto;
padding:4em 1em 20em 1em ;
}

.navbar .navbar-nav > li > a {
font-size:1.25em;
}

.page{
background:#000000;
}

.port{
margin:1em;
}

#services{
background:#000;
color:#fff;
margin:4em auto;
padding:4em 1em 20em 1em ;
}

#sitemap{
margin:4em auto;
padding:4em 1em 34em 1em ;
}

#team{
margin:4em auto;
padding:4em 1em 34em 1em ;
}

#website{
margin:4em auto;
padding:4em 1em 39em 1em ;
}

}/*End Viewport 768px - 991px------------------------------------------------*/



/* Viewport 361px - 767px ---------------------------------------------------*/
@media only screen and (min-width:361px) and (max-width:767px){

.arrow{
display:none;
}

.bckgrd{
background:#000000;
}

#download{
margin:4em auto;
padding:4em 1em 18em 1em ;
}

.intro{
background:#000; 
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
background-position:50%;
height:64em;
margin:0 auto;
padding:50em 0;
}

#logo{
margin:4em auto;
padding:4em 1em 39em 1em ;
}

#misc{
margin:4em auto;
padding:4em 1em 20em 1em ;
}

.page{
background:#000000;
}

.port{
margin:1em;
}

#services{
background:#000;
color:#fff;
margin:4em auto;
padding:4em 1em 20em 1em ;
}

#sitemap{
margin:4em auto;
padding:4em 1em 34em 1em ;
}

#team{
margin:4em auto;
padding:4em 1em 34em 1em;
}

#website{
margin:4em auto;
padding:4em 1em 39em 1em;
}
}/*End Viewport max 767px-----------------------------------------------*/



/* Viewport max 360px ---------------------------------------------------*/
@media only screen
and (min-width:321px) and (max-width:360px){

.arrow{
background:#000;
background-size:cover;
background-repeat:no-repeat;
background-color:#000;
background-position:50%;
height:55em;
margin:0 auto;
}

.bckgrd{
background:#000000;
}

}/*End Viewport max 360px------------------------------------------------*/

